h1{
    font-family:League Spartan;
    color: #ffa511;
    text-align: center;
    font-size:55px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1.5;
    text-decoration:double underline color(srgb red green rgb(0, 208, 255));
    

    
}
